In [1]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [2]:
my_function(5, 6, z=0.7)

0.06363636363636363

In [3]:
my_function(3.14, 7, 3.5)

35.49

In [4]:
my_function(10, 20)

45.0

In [5]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [6]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [7]:
a = None

In [8]:
def bind_a_variable():
    global a
    a = []
bind_a_variable()

In [9]:
print(a)

[]

## Returning multiple values

In [10]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [11]:
return_value = f()

In [12]:
return_value

(5, 6, 7)

In [13]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a': a, 'b': b, 'c': c}

## Functions are objects

In [14]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south carolina##', 'West virginia?']

In [15]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [16]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [17]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

In [18]:
clean_ops = [str.strip, remove_punctuation, str.title]

In [19]:
def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [20]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [21]:
for x in map(remove_punctuation, states):
    print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

## Anonymous (lambda)  functions

In [22]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [23]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

In [24]:
ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [25]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [26]:
strings.sort(key=lambda x: len(set(list(x))))

In [27]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [28]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

## Currying: Partial argument application

In [29]:
def add_numbers(x, y):
    return x + y

In [30]:
add_five = lambda y: add_numbers(5, y)

In [31]:
from functools import partial
add_five = partial(add_numbers, 5)

## Generators

In [32]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

In [33]:
for key in some_dict:
    print(key)

a
b
c

In [34]:
dict_iterator = iter(some_dict)

In [35]:
dict_iterator

In [36]:
list(dict_iterator)

['a', 'b', 'c']

In [37]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [38]:
gen = squares()

In [39]:
gen

In [40]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [41]:
def _make_gen():
    for x in range(100):
        yield x ** 2

gen = _make_gen()

In [42]:
sum(x ** 2 for x in range(100))

328350

In [43]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

## Intertools

In [45]:
import itertools

In [46]:
first_letter = lambda x: x[0]

In [47]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [48]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

## Error and Exception handling

In [49]:
float('1.2345')

1.2345

In [50]:
float('something')  # error

ValueError: could not convert string to float: 'something'

In [51]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [52]:
attempt_float('1.2345')

1.2345

In [53]:
attempt_float('something')

'something'

In [55]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [56]:
def attempt_float(x):
    try:
        return float(x)    
    except ValueError:
        return x

In [59]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [60]:
attempt_float((1, 2))

(1, 2)