In [1]:
empty_dict = {}

In [3]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [4]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [5]:
d1[7] = 'an integer'

In [6]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [7]:
d1['d'] = 'first letter of my last name'

In [8]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'd': 'first letter of my last name'}

In [9]:
d1['b']

[1, 2, 3, 4]

In [10]:
'b' in d1

True

In [11]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'd': 'first letter of my last name'}

In [12]:
d1[5] = 'some value'

In [13]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'd': 'first letter of my last name',
 5: 'some value'}

In [14]:
d1['dumny'] = 'another value'

In [15]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'd': 'first letter of my last name',
 5: 'some value',
 'dumny': 'another value'}

In [16]:
del d1[5]

In [18]:
del d1['d']

In [19]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dumny': 'another value'}

In [21]:
del d1['dumny']

In [22]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [23]:
d1['dummy'] = 'another value'

In [31]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [32]:
list(d1.keys())

['a', 'b', 7]

In [33]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

## Creating dict from sequences

In [34]:
mapping = dict(zip(range(5), reversed(range(5))))

In [35]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [39]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [40]:
by_letter = {}

In [41]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [42]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

## Valid dict key types

In [43]:
hash('string')

-6517149786148184711

In [44]:
hash((1, 2, (2, 3)))

1097636502276347782

In [45]:
hash((1, 2, [2, 3]))  # fails because lists are mutable

TypeError: unhashable type: 'list'

To use a list as a key, one option is to convert it to a tuple, which can be hashed as
long as its elements also can:

In [46]:
d = {}

In [47]:
d[tuple([1, 2, 3])] = 5

In [48]:
d

{(1, 2, 3): 5}